@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*common*/
a{
    text-decoration: none;
}

.bg-img{
    background: url("../img/background.png") ;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    width: 100vw;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
}
.logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.navigation{
    display: flex;
    align-items: center;
}
.nav_link{
    width: 23px;
    height: 23px;
    margin-right: 25px;
}
.nav_link:hover path{
    fill: #3CB878;
}
.nav_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
    margin-left: 24px;
}
.nav_text::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: #FFFFFF;
    left: -27px;
}
.nav-text_link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.nav-text_link:hover{
    color: #3CB878;
}
/*main*/
.form{
    background-color: #FFFFFF;
    max-width: 444px;
    margin: 54px auto 74px auto;
    padding: 31px 60px 38px 60px;
    position: relative;
}
.form-header{
    display: flex;
    justify-content: space-between;
}
.form-header__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-header__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.square--green{
    position: absolute;
    left: 0;
}
.btn{
    padding: 12px 20px 12px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.btn--blue{
    background-color: #305DB8;
    margin-right: 4px;
}
.btn--red{
    background-color: #DF4A32;
}
.btn--blue:hover{
    background: #022263;
}
.btn--red:hover{
    background: #AB1F09;
}
.btn>p{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    color: #FFFFFF;
}
.btn>img{
    display: inline-block;
}
.input{
    width: 100%;
    display: block;
}
.btn_wrapper{
    display: flex;
    margin-top: 15px;
    margin-bottom: 31px;
    justify-content: space-between;
}
.btn_text{
    position: relative;
    margin-left: 38px;
}
.btn_text--blue::before{
    content: "";
    border-left: 1px solid #0A162F;
    position: absolute;
    left: 30px;
}
.btn_text--red::before{
    border-left: 1px solid #2B0D09;
    left: 30px;
    position: absolute;
    content: "";
}
.form__text{
    text-align: center;
    margin-bottom: 12px;
    color: #848484;
    position: relative;
}
.form__text::before{
    content: "";
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #F2F2F2;
    top: 9px;
    right: calc(100% - 45%);
}
.form__text::after{
    content: "";
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #F2F2F2;
    top: 9px;
    left: calc(100% - 45%);
}
.input{
    width: 100%;
    display: block;
    color: #BEBEBE;
    padding: 15px 20px;
    margin-bottom: 15px;

}
.input:focus{
    color: #434343;
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-color: transparent;
}
.btn_submit{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 16px 99px;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}
.btn_submit:hover{
    background-color: #01813F;
}
.model__checkbox-label{
    display: flex;
    align-items: flex-start;
    column-gap: 6px;
    font-size: 14px;
    color: #434343;
}
.model__checkbox{
    display: none;
}
.model__checkbox-status{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
}
.model__checkbox:checked ~ .model__checkbox-status{
    background-image: url("../img/check.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.terms{
    color: #3CB878;
}
.terms:hover{
    color: #01813F;
    text-decoration: underline;
}